<div>
      <div class="container-fluid">
        
        <nav class="navbar navbar-inverse">
        <%= image_tag("logo.png",:class => "img_preview")%>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'sign out',session_destroy_path%>
            </li>
            <!-- <li><button type="button" class="btn btn-success btn-md btn-space1" data-toggle="modal" data-target="#myModal1">Sign out</button>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>


<div class = "col-sm-4">
    <div class="container">
    <%=form_for @event,url: events_create_path do |f|%>
          <%=f.label :Event_name%><br>
          <%=f.text_field :event_name%><br>
          <%=f.label :Venue%><br>
          <%=f.text_field :venue%><br>
          <%=f.label :Date%><br>
          <%=f.text_field :date%><br>
          <%=f.label :Time%><br>
          <%=f.text_field :time%><br>
          <%=f.label :Description%><br>
          <%=f.text_field :description%><br>
          <%=f.label :owner_id%><br>
          <%=f.text_field :owner_id, :value => @user.id, :disabled=>true%><br>
          <%=f.fields_for :invitation do|ff|%><br>
          <%=f.label :inviter_id%><br>
          <%=f.text_field :inviter_id, :value => @user.id, :disabled=>true%><br>
          <%=f.label :event_id%><br>
            <%=f.text_field :event_id, :value => @event.id, :disabled=>true%><br>
          Add invities:<br><%@users.each do |fff|%>
            
            <%#=ff.check_box(:user_id,{multiple: true},fff.id, []) %> <%#=fff.username%><br>
            <%=check_box_tag 'invitee_ids[]',fff.id%><%=fff.username%><br>
            <%end%>
          <%end%>
          <%=f.label :status%><br>
          <%=f.text_field :status%><br><br>
          <%=f.submit :ok%>
          <%= f.submit "cancel", :type => "reset" %><br>
        <%end%>
     </div>
     </div>